$debugColor01:  red;
$debugColor02:  green;
$debugColor03:  yellow;
$debugColor04:  blue;
$debugColor05:  brown;

$defaultBackgroundColor: #ccc1da; 

$optionBackgroundColor: rgba(236, 237, 239, 0.7);

$defaultFont: "Open Sans","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;